* {
  scroll-behavior: smooth;
  list-style: none;

  margin: 0;

  border: none;

  padding: 0;

  background: transparent;

  box-sizing: border-box;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body,
#root {
  min-height: 100svh;

  background-color: white;
}
.CBO {
  text-align: center;
  color: rgb(255, 0, 0);
}
.CB0 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;

  background-color: #000000;
  text-indent: 28pt;
  font-family: Arial;
  font-size: 12pt;
}
a {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #000000;
}
video {
  border-radius: 24px;
  width: 800px;
  box-shadow: 0px 0px 5px 5px #fff;
  -webkit-box-shadow: 0px 0px 5px 5px #fff;
  -moz-box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
}
hr {
  width: 100%;
}

.test:hover {
  transform: scale(1.2);
  box-shadow: black 0px 0px 10px 8px;
}

.test:active {
  transform: scale(0.8);
  box-shadow: black 0px 0px 5px 4px;
}
.Bruh {
  color: red;
}
body {
  font-size: 20px;
  font-weight: 600;
}
.gorill {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  align-items: center;
  text-decoration: none;
  padding-bottom: 40px;
}
.info {
  text-decoration: line-through;
  letter-spacing: 15px;
  font-size: 40px;
  word-spacing: 5px;
}
.con {
  width: 750px;
  background: black;
  outline-style: #fff;
  border: medium solid #fff;
  border-radius: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 40px;
}
.cum {
  margin-bottom: 100px;
  margin-top: 20px;
}
.sex {
  margin-top: 20px;
  margin-bottom: 50px;
}
.dead {
  display: flex;
  padding-bottom: 50px;
}
.dead > div {
  border: 4px solid red;

  display: flex;
}
.block {
  background: rgba(56, 53, 53, 0.555);
  padding: 40px;
  border-radius: 40px;
}
.dead > div > img {
  height: 400px;
  width: 400px;
  filter: saturate(10);
}
.lovushka {
}

.altSite {
  margin-bottom: 32px;
  width: 80vw;
  height: 120px;
}
